{
  "MIXPANEL_TOKEN": "",
  "ADMOB_APP_ID_ANDROID": "",
  "ADMOB_BANNER_ANDROID": "",
  "ADMOB_INTERSTITIAL_ANDROID": "",
  "ADMOB_REWARDED_ANDROID": "",
  "USE_TEST_ADS": "auto",
  "TELEGRAM_BOT_API_KEY": "",
  "TELEGRAM_ADMIN_CHAT_ID": "",
  "TELEGRAM_BARUAS_CHAT_ID": "",
  "FIREBASE_API_KEY_ANDROID": "",
  "FIREBASE_API_KEY_IOS": "",
  "FIREBASE_APP_ID_ANDROID": "",
  "FIREBASE_APP_ID_IOS": "",
  "FIREBASE_IOS_CLIENT_ID": "",
  "FIREBASE_MESSAGING_SENDER_ID": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_STORAGE_BUCKET": ""
}
